@model GiftelleCMSbackend.Models.OrderItem

@{
    ViewData["Title"] = "Edit Order Item";
}

<h1>Edit Order Item</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="OrderItemId" />
    <div class="form-group">
        <label asp-for="OrderId" class="control-label"></label>
        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
    </div>
    <div class="form-group">
        <label asp-for="ProductId" class="control-label"></label>
        <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>